<!-- <div class="modal-header">
    <h4 class="modal-title">Error</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div> -->
<!-- <div class="modal-body  rounded-1 bg-danger">
    <b class="text-white">{{ message }}!</b>
</div> -->
<!-- <div class="modal-footer ">
    <button type="button" class="btn" (click)="activeModal.close('Close click')">Close</button>
</div> -->




<div class="modal-body  bg-danger text-white ">
    <!-- <p>Out of Stock Product. Please select another product.</p> -->
    <p>{{message}}</p>
</div>
<div class="modal-footer  bg-danger text-white">
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>



  